* {
    margin: 0;
    border: 0;
}

body {
    background-image: url(background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Inizio Header */

.container-opacity {
    width: 52%;
    height: 850px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin-top: 1.5%;
}

.logo {
    background: rgba(none, none, none, 1);
    width: 100%;
    text-align: center;
}

.container-opacity .logo img {    
    height: 20%;
    width: 20%;
    margin-top: 110px;
}

.text-title {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: #00dd00;
}

/* Fine Header */

/* Inizio Navbar */

.container-opacity .box-width {
    background-color: #00dd00;
    padding: 16px;
    text-align: center;
    margin-top: 10px;
}

.btn-1 {
    display: inline-block;
}

.btn-2 {
    display: inline-block;
}

.btn-3 { 
    display: inline-block;
}

.link-nav {
    color: black;
    text-decoration: none;
}

/* Fine Navbar */

/* Inizio Section */

.scooter {
    margin-top: 20px;
    color: white;
}

.scooter .scooter-description-1 .mid-battery {
    height: 28px;
    width: 350px;
    border-radius: 5px;
    background-color: #ffa865;
}

.scooter .scooter-description-2 .full-battery {
    height: 28px;
    width: 570px;
    border-radius: 5px;
    background-color: #00d239;
}

.scooter .scooter-description-3 .low-battery {
    height: 28px;
    width: 145px;
    border-radius: 5px;
    background-color: #dd5035;
}

.content {
    margin-left: 5px;
    margin-bottom: 5px;
}

.content-2 {
    margin-bottom: 6px;
}

.content-3 {
    margin-bottom: 3px;
}

.sizing-title {
    font-size: 25px;
    font-family: 'Lexend', sans-serif;
}

.sizing-generic-text {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
}

.scooter .scooter-description-1 {
    margin-top: 30px;
}

.scooter .scooter-description-2 {
    margin-top: 30px;
}

.scooter .scooter-description-3 {
    margin-top: 30px;
}

/* Fine Section */

